<!doctype html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/assets/identity/identity.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const updatePasswordForm = document.querySelector('#update-password');
            if (updatePasswordForm)
                updatePasswordForm.onsubmit = updatePassword.bind(updatePasswordForm)
        });

        const updatePassword = (event) => {
            event.preventDefault()
            const newPassword = event.target[0].value
            const passwordConfirm = event.target[1].value

            if (newPassword !== passwordConfirm) {
                displayError('Passwords do not match!')
            } else {
                supabase.auth.api.updateUser(supabase.auth.session().access_token, {password: newPassword})
                    .then((response) => {
                        console.log(response);
                        if (response.error)
                            displayError(response.error.message);
                        if (response.user && !response.session) {
                            passwordUpdated();
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        if (err.user && !err.session) {
                            checkEmail();
                        }
                        if (err.response && err.response.text)
                            displayError(err.response.text);
                    })
            }
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <div class='container-sm d-flex flex-wrap justify-content-center'>

        <div class='section w-75 text-center' th:if="${error}">
            <h3 th:text="${error}">Error</h3>
        </div>

        <div class='section w-75 text-center' sec:authorize="!isAuthenticated()">
            <h3 th:text="${error}">Not Logged In</h3>
            <p>Your Token Might Be Expired</p>
        </div>

        <div class='section w-75 text-center' id="update-password-wrapper" sec:authorize="isAuthenticated()"
             th:if="not ${error}">
            <h1>Update Password</h1>
            <form id='update-password'>
                <div class="mb-3 form-floating">
                    <input autocomplete="new-password" class="form-control" id="password" maxlength="250"
                           name='password' placeholder="password" required type='password'/>
                    <label for="password">Password</label>
                </div>
                <div class="mb-3 form-floating">
                    <input autocomplete="new-password" class="form-control" id="password-confirm" maxlength="250"
                           name='password' placeholder="confirm password" required type='password'/>
                    <label for="password-confirm">Confirm Password</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" name="sign-up-button" type='submit'>Update Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="/assets/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
